body {
    background-color: rgb(238, 233, 171);
}

.titulo_principal {

    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
}


.educacion {
    outline-style: solid;
    padding: 5px;
}
.fa-solid {
    display: grid;
    place-items: center;
}


.educacion-titulo {
    color: gray;
}

.fa-brands {
    display:flex;
    align-items:start;
    justify-content:flex-start;
    
}
.datos_y_redes {
    display: flex;
    justify-content: center;
    padding: 5px;
    outline-style: solid;
    gap: 15px;
}

.ap-ac-ho {
    outline-style: solid;
    padding: 5px;
}

.aptitudes_titulo {
    color: grey;
}

.actitudes_titulo {
    color: grey;
}

.hobbies_titulo {
    color: grey;
}

.trayectoria {
    outline-style: solid;
    padding: 5px;
}

.trayectoria_titulo {
    color: gray;
}

.footer {
    outline-style: solid;
}

/*Commit*/
/*Modificación de imagen de Nico*/

.foto-nico{
    border-radius: 50%;
}

/*Control de los titulos*/

.subtitulo{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}